body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 300vw;
  overflow-y: hidden;
}

#chart {
  height: 85vh;
  width: 300vw;
  margin: 1% 0;
  position: relative;
  top: 3rem;
}

.annotation-line.horizontal {
  stroke-opacity: 0;
}

.gridline-y {
  opacity: 0.2;
}

.chart-label {
  top: 3rem;
  background-color: #fefefe;
  padding: 1rem;
  z-index: 100;
}

.x-label {
  padding-top: 2rem;
  bottom: 3rem;
}

.chart-label,
.x-label {
  position: fixed;
  left: 48%;
}

.z-axis .domain,
.z-axis text {
  display: none;
}
